<div class="email-confirmation-sent-page-container">
  <h1 class="title">diip</h1>
  <h3 class="success"><%= _('Okay, let’s go') %></h3>
  <p class="information-text">
    <%= _('We sended to you an email to confirm your access') %>
  </p>
  <p class="information-text">
    <%= _('Check your email to continue for reset your password') %>
  </p>
  <a id="confirm-btn" href="/">OKAY</a>
  <div class="spacer">
  </div>
  <button id="privacy-btn"><%= _('Privacy') %></button>
</div>