<% if notice.present? %>
  <div class="alert alert-success">
    <p id="notice"><i class="fa fa-check-circle-o"></i> <%= notice %> </p>
  </div>
<% end %>
<% if alert.present? %>
<div class="error">
<%= alert %>
</div>
<% end %>