<div class="profile_empty_page_container">
  <div class="header">
    <h1 class="title">diip</h1>
  </div>
  
  <h3>Nicely done!</h3>
  <h3>You are almost there</h3>
  <h5>Just two more things 👇</h5>

  <% current_user.build_profile(name: params[:name], username: params[:username]) if current_user.profile.nil? %>
  <%= simple_form_for :profile, url: profile_finish_users_path, method: :post, html: { class: 'form-inline' } do |f| %>
    <%= render 'layouts/shared/flash_message' %>

    <br />
    <%= f.input :name, input_html: {value: current_user.profile.name}, placeholder: 'Name' %>
    <br />
    <%= f.input :username, input_html: {value: current_user.profile.username, placeholder: 'Username', autocomplete: "off"} %>
    <br />
    <button type="submit" name="commit" value="INICIAR" data-disable-with="INICIAR" class="btn">INICIAR</button>
  <% end %>

  <div class="spacer"></div>
  <a href="mailto:alan@diip.app" class="help-btn">Suporte</a>
  
</div>